<!-- *********** heading *********** -->
<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=SHIFT_JIS">
<title>
Remote Lecture (template)
</title>
</head>
<body>


<h1>
遠隔授業教材（教員名）
</h1>


<h2>利用法</h2>
<ul>
<li>
講義ノートの pdf ファイルをダウンロードする。
パソコンならクリックすれば自動的にできる。
<li>
手元の端末でファイルを開いて読めるようにする（可能なら印刷するとよい）。
<li>
音声ファイルをクリック（タップ）するとブラウザ上で再生されるので、順にノートを見ながら聴く。
<li>
スマートフォンでの操作がわからない場合は<a href="https://www.gakushuin.ac.jp/~881791/RLtest/">田崎晴明氏のページ</a>の説明を参照。
</ul>

<h2>
授業１「・・・・・・」
</h2>
<ul>
<li>
<a href="note1.pdf" download>講義ノートの pdf ファイル</a>
<li>
<a href="sound1.m4a">音声ファイル</a> 
</ul>

<h2>
授業２「・・・・・・」
</h2>
<ul>
<li>
<a href="note2.pdf" download>講義ノートの pdf ファイル</a>
<li>
<a href="sound2.m4a">音声ファイル</a> 
</ul>

</body>
</html>